{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact {% endblock title %}
{% block main-content %}
<div class="container">
<div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
    <div class="single_footer_area mb-100">
        <div class="footer_heading mb-4">
            <h6 class="mt-4">Contact Us</h6>
        </div>
        <ul class="footer_content">
            <li><span>Address:</span> Farmget, Dhaka-1236</li>
            <li><span>Phone:</span> 01799900332</li>
            <li><span>Email:</span> uap@uap-bd.edu </li>
        </ul>
        
    </div>
</div>
</div>
{% endblock main-content %}