{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url 'chatbot' %}"><img  src="{% static 'app/images/banner/sheefat.png' %}" class="d-block w-100" alt="..."></a>
    </div>
    <div class="carousel-item">
        <a href="{% url 'chatbot' %}"><img src="{% static 'app/images/banner/razy.png' %}" class="d-block w-100" alt="..."></a>
    </div>
    <!-- <div class="carousel-item">
        <a href="{% url 'chatbot' %}"> <img src="{% static 'app/images/banner/b3.png' %}" class="d-block w-100" alt="..."></a>
    </div>
    <div class="carousel-item">
        <a href="{% url 'chatbot' %}"> <img src="{% static 'app/images/banner/b4.png' %}" class="d-block w-100" alt="..."></a>
    </div>  -->
  </div> 
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block livesale %}
<!-- Live Sale Section -->
<div class="container ">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>SALE IS LIVE NOW</h1>
    <span>5% Instant Discount on Online Payment</span>
    <small class="fw-lighter">Term and Condition Applied </small>
  </div>
</div> 
<!-- End Live Sale Section -->
{% endblock livesale %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="container">
<div class="m-3">
 <h2>Easy Clothing Mart Men Collection</h2>
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">
     {% for b in football %}
     <a href="{% url 'product-detail' b.id %}" class="btn"><div class="item"><img src="{{b.p_image.url}}" alt="" height="200px"><span class="fw-bold">{{b.title}}</span><br><span class="fw-bold">Tk. {{b.discounted_price}}</span></div></a>
     {% endfor %}
 </div>
</div>
<!-- End 1st Product Slider -->

<!-- Payment Info Section -->
<div class="container my-5" style="height: 60 PX;  ">
 <div class="row">
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
     <img src="{% static 'app/images/payavail/bk.PNG' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/ngd.PNG' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/cod.JPG' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/emi.JPG' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
 </div>
</div>
<!-- End Payment Info Section -->

<!-- 2nd Product Slider -->
<!-- 1st Product Slider -->
<div class="container">
  <div class="m-3">
   <h2>Easy Clothing Mart Women Collection</h2>
   <!-- Slider 1 -->
   <div class="owl-carousel" id="slider1">
       {% for c in cricket %}
       <a href="{% url 'product-detail' c.id %}" class="btn"><div class="item"><img src="{{c.p_image.url}}" alt="" height="200px"><span class="fw-bold">{{c.title}}</span><br><span class="fw-bold">Tk. {{c.discounted_price}}</span></div></a>
       {% endfor %}
   </div>
  </div>
  <!-- End 1st Product Slider -->

<!-- End 2nd Product Slider -->
{% endblock main-content %}

